<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
          <html outputDirectory="coverage"/>
        </report>
    </coverage>
    <source restrictNotices="true" restrictWarnings="true" ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="MYSQL_HOST" value="127.0.0.1"/>
        <env name="MYSQL_USER" value="root"/>
        <env name="MYSQL_PASSWORD" value="root"/>
        <env name="POSTGRESQL_HOST" value="127.0.0.1"/>
        <env name="POSTGRESQL_USER" value="runner"/>
        <env name="POSTGRESQL_PASSWORD" value="1StrongPwd%"/>
        <env name="MSSQL_HOST" value="127.0.0.1"/>
        <env name="MSSQL_USER" value="sa"/>
        <env name="MSSQL_PASSWORD" value="1StrongPwd%"/>
    </php>
</phpunit>
